.header>li{
    display: inline-block;
}
.search-input{

}
.search-submit,.search-input{
    padding: 2px 8px;
    border-radius: 20px;
}
.search-input{

}

.brand{
    color: #2e6da4;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}
.header{
    padding: 10px 0px;
}
.nav{
    background-color: #adadad;
}
li{
    list-style: none;
}
.name{
    color: #122b40;
    font-size: 1.3em;
    margin-left: 1em;
}
.name:hover{
    text-decoration: none;
    color: #122b40;
}
@media(max-width: 544px){
    .next-line{
        margin-top: 8px;
    }
}